a.ipynb

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment
.env

# ML models managed by DVC
models/*.pkl

# Generated evaluation reports managed by DVC
reports/evaluation/*.csv

# Generated visualizations
reports/visualizations/*.png

# DVC cache
.dvc/cache/

# MLflow
mlruns/
mlflow.db